[Unit]
Description=NodeJS WorkerScheduling T2 App
After=network.target
 
[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/nodeapps/sev2026/t2/
ExecStart=npm run start
Restart=on-failure
 
[Install]
WantedBy=multi-user.target
